@font-face {
  font-family: 'icomoon';
  src:
    url('../../assets/icons/icomoon.ttf?fpd6b1') format('truetype'),
    url('../../assets/icons/icomoon.woff?fpd6b1') format('woff'),
    url('../../assets/icons/icomoon.svg?fpd6b1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-nk"], [class*=" icon-nk"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nk-plugin:before {
  content: "\e900";
}

.icon-nk-arrow_back:before {
  content: "\e901";
}

.icon-nk-build:before {
  content: "\e902";
}

.icon-nk-dashboard:before {
  content: "\e903";
}

.icon-nk-keyboard_arrow_down:before {
  content: "\e904";
}
.icon-nk-cross:before {
  content: "\e905";
}

.icon-nk-success:before {
  content: "\e906";
}

.icon-nk-information:before {
  content: "\e907";
}

.icon-nk-warning:before {
  content: "\e908";
}

.icon-nk-danger:before {
  content: "\e909";
}
.icon-nk-opera:before {
  content: "\e90a";
}
.icon-nk-safari:before {
  content: "\e90b";
}
.icon-nk-browser:before {
  content: "\e90c";
}
.icon-nk-mozilla:before {
  content: "\e90d";
}
.icon-nk-edge:before {
  content: "\e90e";
}
.icon-nk-file-upload:before {
  content: "\e90f";
}
.icon-nk-edge-new:before {
  content: "\e910";
}
.icon-nk-file-upload:before {
  content: "\e90f";
}
.icon-nk-edge-new:before {
  content: "\e910";
}
.icon-nk-wrong:before {
  content: "\e911";
}
.icon-nk-trash-can:before {
  content: "\e912";
}
.icon-nk-edit:before {
  content: "\e913";
}
.icon-nk-plus:before {
  content: "\e914";
}
.icon-nk-list:before {
  content: "\e915";
}
.icon-nk-check:before {
  content: "\e916";
}
.icon-nk-user:before {
  content: "\e918";
}
.icon-nk-invoice:before {
  content: "\e917";
}
.icon-nk-bar-chart:before {
  content: "\e919";
}
.icon-nk-department:before {
  content: "\e91a";
}
.icon-nk-group:before {
  content: "\e91b";
}
.icon-nk-more:before {
  content: "\e91c";
}
