
@import "colors";
@import "animations";

.cnt-spinner {
  height: 0.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;

  .spinner {
    width: 20vw;
    height: 100%;
    position: relative;
    background: $primary;
    animation: bounceHorizontal 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .warning {
    background: $yellow-700;
  }

  .success, .error {
    animation: blur 3s linear forwards;
    width: 100vw;
    height: 100%;
  }

  .success {
    background: $green-500;
  }

  .error {
    background: $red-700;
  }
}
