$border-radius-base: 8px !default;
$shadow-text:3px 3px 5px $navbar-color;

// width secction cube
$width-cube-logo: 33%;

//resolutions
$full-4k: '2160px';
$full-2k: '1440px';
$full-hd:  '1080px';
$hd-ready: '1024px';
$hd-screen: '720px';
$mobile-medium: '650px';
$mobile-small: '420px';

