
@mixin shadow-navbar-color($color){

  @if($color == $white-color) {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .12),
    0 7px 10px -5px rgba(0,0,0, 0.15);
  }@else{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14),
    0 7px 12px -5px $color;
  }
}
@mixin shadow-button-color($color, $deep: false) {
  @if($deep){
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14),
    0 7px 12px 0 $color
  }@else{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14),
    0 7px 12px -5px $color;
  }

}
@mixin shadow-card-color($color: $white-color) {

  @if ($color == $white-color) {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .12),
    0 7px 10px -5px rgba(0, 0, 0, 0.15);
  } @else {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14),
    0 7px 12px -5px $color;
  }
}
@mixin shadow-list-color($color: null){
  @if ($color){
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.14),
    0 0 12px 1px $color
  } @else {
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.14);
  }

}
@mixin shadow-item-select($color) {
  box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.14),
  0 12px 12px 0 $color
}

@mixin shadow-element($color) {
  box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.14),
  0 12px 12px 0 $color
}

@mixin shadow-spinner($color1, $color2) {
  box-shadow:
  0px -5px 8px -2px $color1, 0 4px 12px 0 $color2
}



