<nk-form-default>
  <div class="container__col-12">
    <nk-input-form
      [label]="'labelEmailFirst'"
      [name]="'nameField'"
      [type]="'email'"
      [nkBadge]="900"
      [(ngModel)]="email"
      required
    ></nk-input-form>
  </div>

  <div class="container__col-12">
    <nk-input-form
      [label]="'labelEmailLast'"
      [name]="'nameFieldLast'"
      [type]="'email'"
      [(ngModel)]="rememberEmail"
      required
      [validateEqual]="email"
    ></nk-input-form>
  </div>

</nk-form-default>
