<div class="container">
  <div class="container__row">
    <div class="container__col-12">
      <nk-card-default>
        <h1 header>
          ESTO ES EL TITULO
        </h1>
        <div body>
          <nk-form-default>
            <div class="container__row">
              <div class="container__col-6">
                <nk-input-form required [(ngModel)]="data.campo1" [label]="'campo 1'"  [name]="'campo1'"></nk-input-form>
              </div>
            </div>
          </nk-form-default>
        </div>
      </nk-card-default>
    </div>
  </div>
</div>

<nk-navbar-default [showVersion]="true" [noFixed]="true" [title]="'esto es una prueba'"> </nk-navbar-default>
