
<div class="container__col-xl-12
 container__col-lg-12
 container__col-sm-12
 container__col-12
 cnt-login"
>
  <div class="container__row">

    <div class="container__col-xl-12
     container__col-lg-12
     container__col-sm-12
     container__col-12"
    >
      <h1 class="title-login">
        {{title}}
      </h1>

    </div>

    <div class="container__col-xl-8
     container__col-lg-8
     container__col-sm-8
     container__col-8
     cnt-forms"
    >
      <nk-form-default (send)="login($event)"
                       [isLoading]="isLoading"
                       [textButton]="textLogin"
      >
        <div class="container__col-xl-12
         container__col-lg-12
         container__col-sm-12
         container__col-12"
        >
          <nk-input-form
            [name]="objectForm.USER.NAME"
            [label]="objectForm.USER.LABEL"
            [(ngModel)]="formData.data.username"
            [pattern]="objectForm.USER.PATTERN"
            [maxlength]="objectForm.USER.MAX_LENGTH"
            [autoComplete]="autoUserName"
            (ngModelChange)="setWrongLoginErrors(false)"
            [setError]="errorLogin"
            required
          >

          </nk-input-form>
        </div>

        <div class="container__col-xl-12
         container__col-lg-12
         container__col-sm-12
         container__col-12
         cnt-pass"
        >
          <nk-input-form
            [name]="objectForm.PASS.NAME"
            [label]="objectForm.PASS.LABEL"
            [(ngModel)]="formData.data.password"
            [type]="objectForm.PASS.TYPE"
            [pattern]="objectForm.PASS.PATTERN"
            [minlength]="objectForm.PASS.MIN_LENGTH"
            [maxlength]="objectForm.PASS.MAX_LENGTH"
            [autoComplete]="autoUserPassword"
            (ngModelChange)="setWrongLoginErrors(false)"
            [setError]="errorLogin"
            required
          >

          </nk-input-form>
        </div>

        <div class="container__col-xl-12
         container__col-lg-12
         container__col-sm-12
         container__col-12"
        >
          <nk-checkbox-default [label]="objectForm.SESSION.LABEL"
                                [name]="objectForm.SESSION.NAME"
                               [(ngModel)]="formData.data.session">
          </nk-checkbox-default>
        </div>

      </nk-form-default>
      <hr>
      <div class="container__col-12">
        <nk-button-default [typeButton]="'default'"
                           [noShadow]="true"
                           *ngIf="redirectRegister"
                           (click)="redirectToRegister()"
        >
          {{register}}
        </nk-button-default>

        <nk-button-default  [typeButton]="'default'"
                            [noShadow]="true"
                            (click)="redirectToRecover()"
        >
          {{recover}}
        </nk-button-default>

      </div>

    </div>

    <div *ngIf="!logo" class="logo"></div>
    <div *ngIf="logo" class="container__col-12 logo-enterprise">
      <img [src]="logo" alt="logo"/>
    </div>

  </div>
</div>
